.repository-list-container {

  .repository-list {
    column-count: 3;
    column-gap: 3rem;

    .repository {
      break-inside: avoid-column;
      display: block;
      padding: 1.5rem 0;
    }
  }

}
